extends gdscript3

snippet if
if ${1}:
	${2}
${3}
endsnippet

snippet else
else:
	${1}
endsnippet

snippet elif
elif ${1}:
	${2}
endsnippet

snippet func
func ${1}(${2}):
	${3}
endsnippet
snippet fun
func ${1}(${2}):
	${3}
endsnippet

snippet export
export (${1}) var ${2}
endsnippet
snippet exp
export (${1}) var ${2}
endsnippet

snippet var
var ${1} = ${2}
endsnippet

snippet const
const ${1} = ${2}
endsnippet
